{% include header.html %}
  <body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>
    
    {% include nav.html %}
    
    <div class="container">
      <img src="{{ site.url }}/images/logo.svg" class="pull-left" />
      <p class="lead">We tell stories</p>
      
      <div id="content">
        {{ content }}
        {% include footer.html %}      
      </div>

      <p id="copywrite" class="text-secondary"></p>
    </div>

    <script>
      var date = new Date();
      $(function(){
        $('#copywrite').text('©'+ date.getFullYear() +' CitizenRacecar. All rights reserved.');
      });
    </script>

  </body>
</html>
