body {
  background: url('../images/work_bg.jpg');
  background-size: cover;
  padding-top: 70px;
}

body #content {
  background-color: #fff;
  clear: both;
  padding: 15px;
}

/* Nav Logo */
nav img { max-height: 51px; }
nav .navbar-brand { 
  padding-top: 0;
}

/* Carousel Override */
.carousel-inner > .item > img, 
.carousel-inner > .item > a >img {
  width: 100%;
}

/* Embeds */
.embed-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.embed-wrapper iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  margin: 15px 0;
}
